body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(27, 71, 146) 0%,
    rgb(52, 93, 176) 69%,
    rgb(0, 187, 228) 89%
  ) !important;
}

.ui.container {
  margin-top: "7em" !important;
}
